<li>
	{{burger_name}}

	<button class="btn btn-primary change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Gobble!{{else}}Have another!{{/if}}
	</button>

	<button class="btn btn-danger delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
